<ul class="auction-actions">
  <% if logged_in? %>
    <% if current_user.registered_for?(auction) %> <%# Add user active in auction check %>
      <% if true %> <%# Add user active in auction check %>
        <% if auction.scheduled? %>
          <%# Do not show anything %>
        <% elsif auction.running? %>
          <li><%= button_to 'Buy', reserve_auction_purchase_path(auction) %></li>
        <% elsif auction.waiting_for_active_users? %>
          <%# Do not show anything %>
        <% elsif auction.reached_lowest_price? %>
          <%# Do not show anything %>
        <% elsif auction.sold_out? %>
          <%# Do not show anything %>
        <% elsif auction.terminated? %>
          <%# Do not show anything %>
        <% elsif auction.unscheduled? %>
          <%# Do not show anything %>
        <% end %>
      <% else %>
        <%# Do not show anything %>
      <% end %>
    <% else %>
      <% if auction.scheduled? %>
        <li><%= button_to 'Register for auction', auction_auction_participation_path(auction) %></li>
      <% end %>
    <% end %>
  <% else %>
    <li><%= link_to 'Sign in', new_session_path(referrer_param => current_path) %></li>
    <li><%= link_to 'Sign up', new_user_path(referrer_param => current_path) %></li>
  <% end %>  
</ul>